.box {
    background-color: #eee;
    margin: 12px auto;
    padding: 10px;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000234;
    text-align: center;
    padding: 8px;
    background-color: #4e86ff;
}

.links {
    font-size: 20px;
    margin-bottom: 16px;
    padding: 8px;
    background-color: #4e86ff;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.pho a:hover {
    color: #5ef737;
}

.katsu a:hover {
    color: #dbcaaf;
}

.birria a:hover {
    color: #ff2122
}

